Gunicorn==20.1.0
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
Flask==2.0.1
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
googletrans==3.0.0
greenlet==1.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.10.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
nltk==3.6.2
protobuf==3.17.3
pycountry==20.7.3
PyMySQL==1.0.2
regex==2021.8.28
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.22
textblob==0.15.3
tqdm==4.62.2
Werkzeug==2.0.1
